.{
	margin: 0;
	padding:0;
}

body {
	background-color:linen;
	font-family: 'Poppins', sans-serif;

}
#mainBar{
	background-color: linen;
	color:darkgreen;
	text-align: center;

}
.mainTitle{
	color: brown;
}
article {
	margin-right:6rem; 
	margin-left:6rem;
	/* display: flex; */
	font-size: 1rem;
}
.image-icon {
	width: 20rem;
	height:30rem;

}
.more-info {
	text-align: justify;
	margin-right: 2rem;
}
a {
	color:darkgreen;
}
li {
	list-style: none;
	background-color: darkgreen;
	color: linen;
}
footer {
	text-align: center;
	color:darkgreen;
}