.{
	margin: 0;
	padding:0;
}

body {
	background-color: linen;
	font-family: 'Poppins', sans-serif;

}
#mainBar{
	background-color: linen;
	color:brown;
	text-align: center;

}
a {
	color:darkgreen;
}
li {
	list-style: none;
	background-color: brown;
	color: linen;
}
footer {
	text-align: center;
	color:darkgreen;
}


label {
	color: brown;
	width: 20%;
	font-size: 29px;
}
input[type="radio"] { 

    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}
#screening-tool-desc{
border-radius: 10px;
color: brown;
border: solid;
border-color: brown;
}
/* idk why but pag tinanggal tong extra curly brace here nasisira yung style  */
} 


.content{
  padding: 0 18px;
  display:block;
  overflow: hidden;
  background-color: #f1f1f1;
}
#link1{
	color: brown;
}
.collapsible {
	 					background-color: brown;
						 color: linen;
  cursor: pointer;
  padding: 18px;
  width: 250px;
  border: none;
						 text-align: center;
  outline: none;
  font-size: 1.5rem;   
}
#travel-history-collapse, #history-of-exposure-collapse, #link {
	background-color: brown;
   color: linen;
  cursor: pointer;
  padding: 10px;
  width: 100px;
  border: none;
  text-align: center;
  outline: none;
  font-size: 1rem;
}
button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);

}
